
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Lista użytkowników</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="card" >
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#contacts" aria-expanded="true" aria-controls="contacts">
              Kontakty
            </button>
          </h2>
          <div id="contacts" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul class="list-group list-group-flush">
                <% usersList.forEach(usersList => { %>
                <a class="dropdown-item"  href="#"><i class="list-group-item" style="font-weight:700;"><%- usersList.userImie + " ID: " + usersList.userId %></i></a>
                <% }); %>
            </div>
          </div>
         </div>
       </div>
      </ul>
    </div>
  </div>
</div>