<div class="card-body">
    <h1>Wypierdalaj, nie ma takiej strony!</h1>
    <div class="col-md-2">
        <img src="../../public/img/StrzelicLaczkiem.jpg"  alt="">
    </div>
</div>

<a href="/"> Won</a>
